[loggers]
keys=root, crawler

[handlers]
keys=console, logfile

[formatters]
keys=default

[logger_root]
level=DEBUG
handlers=console

[logger_crawler]
level=DEBUG
handlers=console, logfile
qualname=crawler
propagate=0

[handler_console]
class=StreamHandler
level=WARN
formatter=default
args=(sys.stdout,)

[handler_logfile]
class=FileHandler
level=DEBUG
args=['logs/crawler.log', 'a', 'utf-8']
formatter=default

[formatter_default]
format=%(asctime)s %(name)-12s %(levelname)-8s %(message)s